<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic & Capacitor App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      <a routerLink="/geolocation">Geolocation</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <a routerLink="/camera">Camera</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <a routerLink="/browser">Browser</a>
    </ion-label>
  </ion-item>
</ion-content>
